html, body {
	margin: 0;
	font-family: sans-serif;
}

.box {
	border: 1px solid black;
	margin: 10px 0;
}

.contenu a, .contenu a:visited {
	color: black;
}

/* ============= FORMULAIRE ============ */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 100px;
}

nav ul li {float: left;}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {background-color: #111;}
nav ul li a.active {background-color: #4CAF50;}
nav ul li.droite {float: right;}
@media screen and (max-width: 600px) {
  nav ul li.droite,
  nav ul li {float: none;}
}

/* ============= */

input {
	display: block;
	text-align: center;
	margin: 0 auto;
}

label {
	display: block;
	text-align: center;
	border-bottom: 5px;
}

.succes {
	background-color: green;
}

.erreur {
	background-color: red;
}

.contenu {
	border: 1px solid black;
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
	margin-bottom: 100px;
}

.contenu img {
	max-width: 300px;
	display: inline;
	margin: 0 auto;
}

form {
	text-align: center;
}

/* ===================== */
.autocomplete {
	position: relative;
	display: inline-block;
}
input {
	font-size: 16px;
	border: 1px solid transparent;
	padding: 10px;
	background-color: #f1f1f1;
}
input[type=text] {
	margin: 0 auto;
	background-color: #f1f1f1;
}
input[type=submit] {
	color: white;
	background-color: DodgerBlue;
}
.autocomplete-items {
	border: 1px solid #d4d4d4;
	position: absolute;
	border-bottom: none;
	z-index: 99;
	border-top: none;
	top: 100%;
	right: 0;
	left: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: white;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

#tags li {
	display: inline-block;
	border: 1px solid black;
	cursor: not-allowed;
}
